 /*CustomCSS*/
  .channelTextArea-1VQBuV:focus-within {
    box-shadow: none;
}
.channelTextArea-1VQBuV {
    background: transparent;
}
.theme-dark .container-1CH86i:before {
   display: none;
}
.theme-dark .container-1CH86i:after {
   display: none;
}
#vc-spotify-player {
    border-bottom: 0px !important;
}
.mentioned-Tre-dv {
    background-color: rgb(var(--numerical-main), 0.2) !important;
}
.theme-dark #vc-spotify-player {
    background: none !important;
}
.container-YkUktl>.flex-3BkGQD {
    background: none;
}
.container-YkUktl>.flex-3BkGQD>:nth-child(n+2):before {
    display: none;
}
.activityPanel-9icbyU .actions-zk2vB_ {
    background: none;
}
.header-3OsQeK {
    box-shadow: none;
}
.container-1zzFcN>.flex-3BkGQD {
    background: transparent;
}
