 /*CustomCSS*/
/*Screenshare transparent icon*/
.activityPanel_b73e7a .actions_d57dc4 {
    background: transparent;
}
/*Activity Button Shading*/
.button_e6e74f {
    background-color: transparent;
}
/*ChatBox Shading*/
.scrollableContainer__74017 {
    background: transparent;
}
.scrollableContainer__74017:focus-within {
    box-shadow: none;
}
/*Apps button Shading*/
.button_df39bd {
    background-color: transparent;
}
/*Clearvision Watermark Remove*/
.theme-dark .container_ca50b9:before {
   display: none;
}
.theme-dark .container_ca50b9:after {
   display: none;
}
.theme-dark .container_ca50b9 {
    margin-bottom: 0px;
}
/*SpotifyPluginFixes*/
#vc-spotify-player {
    border-bottom: 0px !important;
}
#vc-spotify-player {
    border-top: none;
}
.theme-dark #vc-spotify-player {
    background: none !important;
}
.mini_d6d84c .grabber_d2868c {
margin-top: 5px;
}
/*MentionColor*/
.mentioned_d5deea {
    background-color: rgb(var(--numerical-main), 0.2) !important;
}
/*Remove Gift Icon*/
.container__5eb17 {
    display: none;
}
/*Fix Soundboard Button background becoming white when hovering and activating it*/
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f {
    background-color: var(--main-color);
    color: white;
}
.button_b82d53.buttonColor__7bad9.buttonActive_ae686f:hover {
    background: var(--hover-color);
    color: white;
}
/*IDK what this does but it does something*/
.container-YkUktl>.flex-3BkGQD {
    background: none;
}
.container-YkUktl>.flex-3BkGQD>:nth-child(n+2):before {
    display: none;
}
.header-3OsQeK {
    box-shadow: none;
}
.container-1zzFcN>.flex-3BkGQD {
    background: transparent;
}
